_site
.sass-cache
.jekyll-metadata
_draft

_backup/2011-03-10-sample-post.md
_backup/2012-05-22-readability-post.md
_backup/2013-05-22-sample-post-images.md
_backup/2013-05-23-readability-feature-post.md
_backup/2013-06-25-video-post.md
_backup/2013-08-12-sample-link-post.md
_backup/2013-08-16-code-highlighting-post.md
_backup/2013-10-26-background-image.md
_backup/2019-05-04-welcome-to-jekyll.markdown
